@using Microsoft.AspNetCore.Http
@using BV411.Models

@{
    int? userId = Context.Session.GetInt32("UserId");

    Favorite favorite = new Favorite();

    if (userId != null)
    {
        favorite = FavoriteRepos.GetFavorite(userId.Value);
    }
}
<div class="products">

    @foreach (var product in Model)
    {
        <div class="card">

            @if (userId == null)
            {
                <button class="favorite"
                        onclick="location.href='/Account/Auth'">
                    ☆
                </button>
            }
            else
            {
                bool isFavorite = favorite.Products.Any(x => x.Id == product.Id);

                <button class="favorite @(isFavorite ? "active" : "")"
                        onclick="location.href='/Favorite/Toggle?id=@product.Id'">
                    @(isFavorite ? "★" : "☆")
                </button>
            }

            <div class="product-image">
                Фото товара
            </div>

            <h3>
                <a asp-controller="Product"
                   asp-action="Info"
                   asp-route-id="@product.Id"
                   class="product-link">
                    @product.Name
                </a>
            </h3>

            <p>@product.Price.ToString("N0") ₽</p>

            <button onclick="location.href='/Basket/Add/@product.Id'">
                Добавить в корзину
            </button>
            <button onclick="location.href='/Order/BuyNow?id=@product.Id'">
                Купить
            </button>

        </div>
    }

</div>