@model Order

<link rel="stylesheet" href="~/css/BasketSite.css"/>

<h2>

Заказ №@Model.Id

</h2>

<div class="products">

@foreach(var item in Model.Items)
{
    <div class="card">

        <div class="product-image">
            Фото товара
        </div>

        <h3>@item.ProductName</h3>

        <p>

            Цена:

            @item.Price.ToString("N0")

            ₽

        </p>

        <p>

            Количество:

            @item.Quantity

        </p>

        <p>

            Стоимость:

            @((item.Price*item.Quantity).ToString("N0"))

            ₽

        </p>

    </div>
}

</div>

<div class="cart-summary">

    <h3>

        Статус:

        @Model.Status

    </h3>

    <h3>

        Всего товаров:

        @Model.Items.Sum(x=>x.Quantity)

    </h3>

    <h3>

        Общая стоимость:

        @Model.TotalPrice.ToString("N0")

        ₽

    </h3>

    <div class="cart-buttons">

        <button class="back-btn"
                onclick="location.href='/Order'">

            Назад к заказам

        </button>

    </div>

</div>