@model BV411.Models.User
@using BV411.Models

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование профиля</title>
    <link rel="stylesheet" href="~/css/ProfileSite.css">
</head>

<body>

    <main>

        <h2>Редактирование профиля</h2>

        <div class="products">

            <div class="card">

                <form method="post" action="/Profile/Edit">

                    <input type="hidden" name="Id" value="@Model.Id" />

                    <input name="Login" value="@Model.Login" placeholder="Логин" />
                    <input name="Password" value="@Model.Password" placeholder="Пароль" />
                    <input name="Email" value="@Model.Email" placeholder="Email" />
                    <input name="Phone" value="@Model.Phone" placeholder="Телефон" />
                    <input name="Avatar" value="@Model.Avatar" placeholder="Avatar URL" />

                    <button type="submit">Сохранить</button>

                </form>

                <button onclick="location.href='/Profile/Profile'">
                    Назад
                </button>

            </div>

        </div>

    </main>

</body>
</html>